<div [@listAnimation]='flights.length'>
  <table *ngIf='flights'>
    <tr>
      <th (click)='sortColumn("flightName", $event)'>Ident <span></span></th>
      <th (click)='sortColumn("flightDirection", $event)'>State <span></span></th>
      <th (click)='sortColumn("terminal", $event)'>Terminal <span></span></th>
      <th (click)='sortColumn("gate", $event)'>Gate <span></span></th>
      <th (click)='sortColumn("serviceType", $event)'>Service Type <span></span></th>
      <th (click)='sortColumn("scheduleDate", $event)'>Date <span></span></th>
      <th (click)='sortColumn("scheduleTime", $event)'>Time <span></span></th>
      <th (click)='sortColumn("aircraftType.iatamain", $event)'>Aircraft Type <span></span></th>
      <th (click)='sortColumn("aircraftRegistration", $event)'>Aircraft Registration <span></span></th>
    </tr>
    <tr *ngFor='let flightInfo of flights' (click)='showFlightInfo(flightInfo)'>
      <td>{{flightInfo.flightName}}</td>
      <td>{{(flightInfo.flightDirection === 'D' ? 'Departure' : 'Arrival')}}</td>
      <td>{{flightInfo.terminal}}</td>
      <td>{{flightInfo.gate}}</td>
      <td>{{flightInfo.serviceType}}</td>
      <td>{{flightInfo.scheduleDate}}</td>
      <td>{{flightInfo.scheduleTime}}</td>
      <td>{{flightInfo.aircraftType.iatamain}}</td>
      <td>{{flightInfo.aircraftRegistration}}</td>
    </tr>
  </table>
</div>
