table {
  width: 100%;
  tr {
		--even: #CCC;
		--odd: #FFF;

    transition: background-color 0.1s linear;
    &:nth-child(even) { background: var(--even) }
    &:nth-child(odd) { background: var(--odd) }
    td { padding: 5px }
    th {
      cursor: pointer;
      padding: 5px 0 5px 4px;
      transition: background-color 0.1s linear;
      &:hover {
        background-color: rgba(#CCC, 0.3);
      }
    }
    &:hover {
      background: var(--even);
      cursor: pointer;
    }
  }
}
