table {
  width: 100%;
  tr {
    transition: background-color 0.1s linear;
    tr:nth-child(even) { background: #CCC }
    tr:nth-child(odd) { background: #FFF }
    td { padding: 5px }
    th {
      cursor: pointer;
      padding: 5px 0 5px 4px;
      transition: background-color 0.1s linear;
      &:hover {
        background-color: rgba(#CCC, 0.3);
      }
    }
    &:hover {
      background: #CCC;
      cursor: pointer;
    }
  }
}
